body {
    font-family: Arial, sans-serif;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 300px;
  }
  
  h2 {
    color: #22b257;
  }
  
  button {
    margin-top: 15px;
    background-color: #22b257;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  